body{
  height: 4000px;
  padding-top: 120px;
}


.header{
  background-color: black;
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100px;
}

/* .sidebar{
  background-color: blueviolet;
  color: white;
  position: fixed;
  top: 100px;
  left: 0px;
} */

.div1{
  background-color: lightblue;
  height: 400px;
  width: 400px;
}

.div2{
  background-color: lightpink;
  height: 400px;
  width: 400px;
}